:root {
  --darkgray: rgb(32, 32, 32);
  --white: rgb(216, 216, 216);

  --ff-main: monospace;
  --fs-main: 1rem;

  --mt-sm: 1rem;
  --mt-md: 2rem;

  --mb-sm: 1rem;
  --mb-md: 2rem;
}

body {
  font-family: var(--ff-main);
  background-color: var(--darkgray);
  color: var(--white);
}

.headline {
  text-align: center;
}

p {
  font-size: var(--fs-main);
}

header {
  display: flex;
  justify-content: center;
  margin-top: var(--mt-md);
  margin-bottom: var(--mt-md);
}

.nav__list {
  display: flex;
  justify-content: center;
  margin-top: var(--mt-md);
  margin-bottom: var(--mt-md);
  padding: unset;
  list-style-type: none;
}

.nav__listitem {
  padding: 0 1rem;
}

.nav__link {
  color: var(--white);
  font-size: var(--fs-main);
}
